<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aribhatt.kotlinlearner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Required for 28 and below. -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" /> <!-- Required for 29+. -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinLearner"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".activitytracker.service.BackgroundDetectedActivitiesService"/>
        <service
            android:name=".activitytracker.service.DetectedActivityIntentService"
            android:exported="false" />

        <activity android:name=".permissionslearner.ImagePickerActivity" />
        <activity
            android:name=".permissionslearner.PermissionsTutorialActivity"
            android:label="@string/title_activity_permissions_tutorial"
            android:theme="@style/Theme.KotlinLearner.NoActionBar" />
        <activity android:name=".mediaapp.ui.MusicActivity" />
        <activity android:name=".alarm.ui.AlarmActivity" />

        <service
            android:name=".mediaapp.service.ForegroundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activitytracker.ui.TrackerActivity" />
        <activity
            android:name=".firebase.ui.EmojiStatusActivity"
            android:label="@string/title_activity_emoji_status"
            android:theme="@style/Theme.KotlinLearner.NoActionBar" />
        <activity
            android:name=".firebase.ui.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.activities.DetailActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.KotlinLearner.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".service.broadcastreceiver.PhoneReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.broadcastreceiver.VibrateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.VIBRATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>